<h1>Add new product</h1>
<form [formGroup]="postDetailsForm!" (ngSubmit)="updateProduct()">
  <mat-form-field>
    <mat-label>Titolo</mat-label>
    <input formControlName="title" matInput required />
    <mat-error>Title is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descrizione</mat-label>
    <input formControlName="description" matInput required />
    <mat-error>description is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contenuto</mat-label>
    <mat-select formControlName="content">
      <mat-option value="electronics">Electronics</mat-option>
      <mat-option value="jewelery">Jewelery</mat-option>
      <mat-option>Other</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      type="submit"
      [disabled]="postDetailsForm.invalid">
      Create
    </button>
  </div>
</form>
