<h1>Update the post selected</h1>
<form [formGroup]="postDetailsForm!" (ngSubmit)="save()">
  <mat-form-field appearance="fill" >
    <mat-label>Titolo</mat-label>
    <input formControlName="title" matInput required />
    <mat-error>Title is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descrizione</mat-label>
    <input formControlName="description" matInput required/>
    <mat-error>description is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Categoria ID</mat-label>
    <input formControlName="categoryId" matInput required/>
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Contenuto</mat-label>
    <input formControlName="content" matInput required />
    <textarea matInput
            name="content"
            rows="5"
            cols="20"
            placeholder="Aggiungi contenuto"></textarea>
    <mat-error>contenuto is required</mat-error>
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      type="submit"
      [disabled]="postDetailsForm.invalid">
      Update
    </button>
  </div>
</form>

